C:/
Dataset/
Dataset_old/
Model/
__pycache__/
test/
train_unet/
val/
val_unet/
.idea/
.ipynb_checkpoints/

C:
Dataset
Dataset_old
Model
__pycache__
test
train_unet
val
val_unet
.idea
.ipynb_checkpoints


